[
  {
    "name": "PWET Job",
    "environments": 
      {
        "dev": {
          "command": "/home/john/pwet.sh",
                  "schedule": "* * * * *",
                  "servers": [
                    {
                      "host": "foobar",
                      "user": "john"
                    }
 
                  ],
                  "email": "john.doe@foo.bar"
        },
        "tst": {
          "command": "/home/john/pwet.sh",
                  "schedule": "* * * * *",
                  "servers": [
                    {
                      "host": "foobar-tst-a",
                      "user": "john"
                    },
                    {
                      "host": "foobar-tst-b",
                      "user": "john"
                    }

                  ],
                  "email": "john.doe@foo.bar"
        }

      }
   }
]
